.genre {
  width: 200px;
  height: 200px;
  background-position: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border-radius: 10px;
  box-shadow: 1px 1px 5px lightgrey;
  color: white;
  margin: 2px;
  cursor: pointer;
}
