<h2>Albums</h2>
<div class="cards">
  <app-album *ngFor="let album of albums" [album]="album"></app-album>
</div>
<h2>Artists</h2>
<div class="cards">
  <app-artist *ngFor="let artist of artists" [artist]="artist"></app-artist>
</div>
<h2>Playlist</h2>
<div class="cards">
  <app-playlist *ngFor="let playlist of playlists" [playlist]="playlist"></app-playlist>
</div>
<h2>Tracks</h2>
<div>
  <app-track *ngFor="let track of tracks" [track]="track"></app-track>
</div>

